<!-- header -->

<div class="contain">

  <div class="header">

    <div class="header_left">
      <span class="material-symbols-outlined">menu</span>
      <img src="https://cdn-icons-png.flaticon.com/512/761/761755.png" alt="">
    </div>

    <div class="header_middle">
      <span class="material-symbols-outlined">search</span>
      <input type="text" placeholder="Search Mail" />
      <span class="material-symbols-outlined" id="sort" (click)="select_sort()">sort</span>
      <ul id="select-sort">
        <li><span id="Date" (click)="click_sort('date')">Date</span></li>
        <li><span id="Subject" (click)="click_sort('subject')">Subject</span></li>
        <li><span id="Sender" (click)="click_sort('sender')">Sender</span></li>
        <li><span id="Body"(click)="click_sort('Body')">Body</span></li>
        <li><span id="importance" (click)="click_sort('importance')">importance</span></li>
      </ul>
    </div>

    <div class="header_right">
      <span class="material-symbols-outlined">apps</span>
      <span class="material-symbols-outlined">notifications</span>
      <span class="material-symbols-outlined" (click)="signOut()">account_circle</span>
    </div>

  </div>

  <div class="main_body">

    <!-- sidebar -->
    <div class="sidebar">

      <button class="compose" (click)="click('compose')"> <span class="material-symbols-outlined"
          (click)="click('Compose')">edit</span>Compose</button>
      <div class="sidebar_options" (click)="folder_back('inbox','date')">
        <span class="material-symbols-outlined"> all_inbox</span>
        <h3>Inbox</h3>
      </div>
      <div class="sidebar_options" (click)="folder_back('starred' ,'date')">
        <span class="material-symbols-outlined"> star</span>
        <h3>Starred</h3>
      </div>
      <div class="sidebar_options" (click)="click('snoozed')">
        <span class="material-symbols-outlined"> snooze</span>
        <h3>Snoozed</h3>
      </div>
      <div class="sidebar_options" (click)="folder_back('sent','date')">
        <span class="material-symbols-outlined"> send</span>
        <h3>Sent</h3>
      </div>
      <div class="sidebar_options" (click)="folder_back('draft','date')">
        <span class="material-symbols-outlined"> draft</span>
        <h3>Drafts</h3>
      </div>
      <div class="sidebar_options" (click)="folder_back('trash','date')">
        <span class="material-symbols-outlined"> delete</span>
        <h3>Trash</h3>
      </div>
      <div class="sidebar_footer">
        <div class="sidebar_footerIcons">
          <span class="material-symbols-outlined" (click)="contacts()"> person </span>
          <span class="material-symbols-outlined"> duo </span>
          <span class="material-symbols-outlined"> phone </span>
        </div>
      </div>
      <div class="lable">
        <h3>Lables</h3>
        <span class="material-symbols-outlined" (click)="click('lable')">add</span>
      </div>

    </div>

    <div class="content">

      <div class="content_header">
        <div class="content_header_left">
          <div>
            <input type="checkbox" />
            <span class="material-symbols-outlined" (click)="select_menu()">arrow_drop_down</span>
            <ul id="select">
              <li><span>All</span></li>
              <li><span>None</span></li>
              <li><span>Read</span></li>
              <li><span>Unread</span></li>
            </ul>
          </div>
          <span class="material-symbols-outlined"> refresh</span>
          <span class="material-symbols-outlined">more_vert</span>
        </div>
        <div class="content_header_right">
          <span class="material-symbols-outlined">chevron_left</span>
          <span class="material-symbols-outlined">chevron_right</span>
        </div>

      </div>

      <div class="layer" id="inbox"></div>
      <div class="layer" id="starred"></div>
      <div class="layer" id="snoozed"></div>
      <div class="layer" id="sent"></div>
      <div class="layer" id="draft"></div>
      <div class="layer" id="trash"></div>
      <div class="layer" id="contacts">
        <input type="text" placeholder="Search contacts" />
        <div id="contacts_body"></div>
        <span id="add" (click)="addContact()">+</span>
        <form  [formGroup]="contact" id="add_body" >
          <input formControlName="name" type="text" placeholder="Name" required>
          <input formControlName="email" type="email" placeholder="Email/s" required>
          <button class="btn" (click)="add_contact()">Save</button>
          <button class="btn " style="background-color: rgb(223, 24, 24);"  (click)="cancel()">Cancel</button>
        </form>
      </div>
      <div class="layer" id="lable">lable</div>

      <div class="layer" id="compose">
        <form [formGroup]="email">
          <div class="header">
            <div class="header_left">New message</div>
            <div class="header_right">
              <span class="material-symbols-outlined" (click)="draft_message()">close</span>
              <div id="draft_">discard draft</div>
            </div>
          </div>
          <input formControlName="Recipient" type="email" placeholder="Recipient" id="Recipient">
          <input formControlName="Subject" type="text" placeholder="Subject">
          <textarea formControlName="Content" cols="30" rows="10"></textarea>
          <div class="footer">
            <div class="footer_left">
              <button id="send_btn" class="btn" (click)="sendEmail()">Send<span
                  class="material-symbols-outlined">send</span></button>
              <span class="material-symbols-outlined"> attach_file</span>
              <span class="material-symbols-outlined"> image</span>
            </div>
            <div class="footer_right">
              <span class="material-symbols-outlined" (click)="click('')"> delete</span>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>


  <div id="acount" class="acount">
    <div>
      <span class="material-symbols-outlined">account_circle</span>
      <!-- <p>name name</p> -->
      <!-- <p>email email email</p> -->
      <button class="compose" routerLink="/SignIn">Sign out</button>
    </div>
  </div>

</div>
