* {
  margin: 0;
  padding: 0;
}

.contain {
  background-color: #dae2f274;
}


.material-symbols-outlined {
  background-color: inherit;
  cursor: pointer;
}

/* Header */
.header_left img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}

.header {
  background-color: #dae2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left span {
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.header_middle {
  display: flex;
  flex: 0.75;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 5px;
}

.header_middle input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header_right {
  display: flex;
  padding-right: 20px;
}

.header_right span {
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.header_left span:hover,
.header_right span:hover {
  background-color: rgb(186, 200, 233);
  font-weight: 800;
}


.main_body {
  background-color: #dae2f200;
  display: flex;
  height: 85vh;
}

/* Sidebar */
.sidebar {
  background-color: #dae2f2;
  flex: 0.3;
  max-width: 20%;
  padding: 10px;
}

.compose {
  font-size: 20px;
  margin: 15px;
  text-transform: capitalize;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(186, 200, 233);
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.compose span {
  margin-right: 5px;
}

.sidebar_options {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.sidebar_options span {
  padding: 5px;
}

.sidebar_options h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}

.sidebar_options:hover,
.sidebar_options:hover h3,
.sidebar_options:hover span {
  background-color: rgb(186, 200, 233);
  font-weight: 800;
}

.sidebar_footer {
  display: flex;
  justify-content: center;
}

.sidebar_footerIcons span {
  margin: 7px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.sidebar_footer span:hover {
  background-color: rgb(186, 200, 233);
  font-weight: 800;
}

.lable {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lable h3 {}

.lable span {
  margin-left: 50%;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.lable span:hover {
  background-color: rgb(186, 200, 233);
  font-weight: 800;
}


.content {
  background-color: white;
  flex: 1;
  max-width: 80%;
  margin: 0 20px;
  padding: 15px;
  border: 10px solid white;
  border-radius: 5%;

}

.content_header {
  position: sticky;
  top: -20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background-color: white;
  z-index: 10;
  padding: 8px;
}

.content_header_left,
.content_header_right {
  display: flex;
  align-items: center;
  background-color: white;
}

.content_header_left span,
.content_header_right span,
.content_header_left div span,
.content_header_left div input {
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.content_header_left div {
  background-color: white;
  border-radius: 15%;
  padding: 5px;
}

.content_header_left span:hover,
.content_header_right span:hover,
.content_header_left div:hover,
.content_header_left div span:hover {
  background-color: #eee;
  border: 5px;
}

.content_header_left div ul {

  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #eee;
  position: absolute;
  left: 0.75%;
  top: 80%;
  min-width: 150px;
  display: none;
  z-index: 1;
  border-radius: 5%;

}

.content_header_left div ul li span {
  display: block;
  color: #333;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  background-color: #eee;
}

.content_header_left div ul li span:hover {
  padding-left: 25px;
}

.content_header_left div ul li span:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.layer {
  position: relative;
  width: 100%;
  overflow: hidden scroll;
  padding: 10px;
  border-radius: 10px;
  height: 90%;
  background-color: #dae2f2;
  z-index: -1;
}

#inbox {}

#starred {
  top: -90%;
}

#snoozed {
  top: -180%;
}

#sent {
  top: -270%;
}

#draft {
  top: -360%;
}

#trash {
  top: -450%;
}

#person {
  top: -540%;
}

#lable {
  top: -630%;
}

#compose {
  max-width: 800px;
  top: -720%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dae2f2;
  margin: 0 auto;
  /* z-index: 20; */

}

#compose form {
  width: 100%;
  padding: 0;
  height: 100%;
}

#compose form div,
#compose form input,
#compose form textarea {
  background-color: #dae2f2;
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  margin: 0;
  height: 7%;
}

#compose form input {
  border-bottom: 2px solid #eee;
}

#compose form .header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  background-color: #dae2f2;
}

#compose form .header .header_left {
  display: flex;
  border: none;
}

#compose form .header .header_right {
  display: flex;
  border: none;
  justify-content: flex-end;
  align-items: center;
}

#compose form .header .header_right span {
  font-size: 20px;
}

#compose form .header .header_right div {
  display: none;
  position: absolute;
  top: 8%;
  background-color: #eee;
  width: fit-content;
  height: fit-content;
  border: 0;
  border-left: 10px solid #eee;
  border-right: 10px solid #eee;
  border-radius: 10%;
}

#compose form .header .header_right span:hover+#draft_ {
  display: block;
}

#compose form textarea {
  height: 69%;
}

#compose form .footer {
  height: 10%;
  display: flex;
}

#compose form .footer .footer_left {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between
}

#compose form .footer .footer_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

#compose form .footer button {
  width: 90px;
  padding: 5px;
  background-color: #326ce1;
  color: white;
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  align-items: center;

}

.acount {
  position: absolute;
  top: 22%;
  right: 0.5%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: none;
}

.acount div span {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 75px;
  margin-bottom: 25px;
}

.acount div p {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.acount div button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  background-color: white;
}

