
<div class="header">
  <div class="header_left">
    <img src="https://cdn-icons-png.flaticon.com/512/761/761755.png" alt="">
  </div>



  <div class="header_right">
    <button class="sign_in"routerLink="/SignIn" routerLinkActive="active" ariaCurrentWhenActive="page" > <span class="material-symbols-outlined">login</span>Sign in</button>
    <button class="sign_up"routerLink="/SignUp" routerLinkActive="active" ariaCurrentWhenActive="page" > <span class="material-symbols-outlined">account_circle</span>Create an account</button>
  </div>
</div>

